.upload-button {
  color : $gray ;
  border : 1px solid transparent;
  border-color: $gray;
  padding: 0px 15px;
  line-height: 35px;
  border-radius : 8px;
  font-weight: bold;
  opacity : 0.6;
  font-size: 15px;
  position: absolute;
  right: 47px;
  bottom: 15px;
}

.upload-button:hover {
  opacity : 1;
  text-decoration : none;
  color : $gray ;
}
