.media {
  display: flex;
  height: 100vh;
}

.media-body {
  display: block !important;
  flex: 1 1 auto;
  padding: 20px;
  img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 70vh;
  }
}

.presentation-container{
  width: 100%;
}

.presentation-container-full-screen{
  width: 100%;
  display: flex;
  justify-content : space-around;
}

.media-aside {
  position: relative;
  margin-top: 21px;
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #F8F7F7;
  border-left: 1px solid #f0efef;
}

.media-section {
  margin: 20px auto;
  text-align: center ;
}

.media-section:first-child {
  margin-top: 0;
}

.media-section:last-child {
  margin-bottom: 0;
}

.form-page{
  width: 56px;
}

.page-choser{
    font-size: 20px;
    display: flex;
    justify-content : space-around;
    align-items: center;
}

.arrow {
  color : $gray ;
  border : 1px solid transparent;
  border-color: $gray;
  padding: 0px 15px;
  line-height: 40px;
  border-radius : 8px;
  font-weight: bold;
  opacity : 0.6;
  font-size: 40px;
}

.arrow:hover {
  opacity : 1;
  text-decoration : none;
  color : $gray ;
}

.page-choser-number{
    display: flex;
    justify-content : space-between;
    align-items: center;
}

#page-number{
    position: relative;
    top: 5px;
    left: 5px;
}

.btn-download{
}

.download-section{
  text-align : center;
}

#administrator{
  display : flex;
  justify-content : space-between;
  align-items: center;
}

.screen-icon{
  position:relative;
  height: 30px;
  a{
    font-size:25px;
    color: $gray ;
    opacity: 0.6;
  }
  a:hover{
    opacity : 1;
    text-decoration : none;
    color : $gray ;
  }
}
.full-screen{
    position: absolute;
    right: 15px;
    bottom: 2px;
}
.pdf-icon{
    position: absolute;
    right: 70px;
    bottom: 4px;
}

