<div class="media-section">
  <% if @roadshow.presentation? %>

    <% if @roadshow.watermark %>
      <%= cl_image_tag(@roadshow.presentation.path, width: 200, :page => @page, :fetch_format=>"jpg", :quality=>100, :transformation=>[{:angle=>30, :overlay=>"text:arial_150_center:#{@roadshow.user.email}", :color=>"#9B9B9B", :opacity=>20}]) %>
    <% else %>
      <%= cl_image_tag(@roadshow.presentation.path, width: 200, :page => @page, :fetch_format=>"jpg", :quality=>100) %>
    <% end %>
  <% else %>
    <img src="http://unsplash.it/400/300" alt="kudoz" class="product-image">
  <% end %>
</div>
