<div class="padded"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="text-center">
        Your presentation for <%= @roadshow.company %> has been successfully activated
      </h1>
      <p class="text-center">
        <%= link_to "View Presentation", latestpages_path(id: @roadshow.id), method: :post, class: "btn btn-success" %>
      </p>
    </div>
  </div>
</div>

