<div class="padded"></div>
<h1>
  Your Investor Presentation has been successfully uploaded !
</h1>

<p>
  <%= link_to "Back to Home Page", root_path, class: "btn btn-primary" %>
  <%= link_to "Upload a new Investor Presentation", new_roadshow_path, class: "btn btn-success" %>
  <%= link_to "List of Roadshows", roadshows_path, class: "btn btn-success" %>

</p>
