<div class="padded"></div>
<div class="padded"></div>

<div class="row center">
  <h2>Your presentation has been successfully updated</h2>

  <%= link_to "Access to your presentation", latestpages_path(roadshow_id: @roadshow.id), method: :post, class: "btn btn-success"%>
</div>
