<div class="padded">
</div>

<div class="container">
  <h1>
    The available presentations are:
  </h1>
  <%= render "listing" %>

  <p>
    <%= link_to "Upload a new Investor Presentation", new_roadshow_path, class: "btn btn-success" %>
    <%= link_to "Search an Investor Presentation", research_path, class: "btn btn-primary" %>
  </p>

</div>
