<div class="container">
  <h1>
    The available presentations are:
  </h1>
  <ul>
    <% @roadshows.each do |roadshow| %>
      <li> <%= roadshow.company %> is roadshowing. Its URL is <%= roadshow.url %></li>
    <% end %>
  </ul>

</div>
