<div class="padded">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>
        Your presentation has been successfully uploaded.
      </h2>
      <h3>
        To activate it, you can either :
      </h3>
      <%= link_to "Pay us directly with Stripe", new_charge_path(id: @roadshow.id), class: "btn btn-success" %>
      <%= link_to "Download the bill and pay us later", "#", class: "btn btn-primary" %>
    </div>
  </div>
</div>
