<div class="padded">
</div>
<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class= "center">
        Congratulations ! <br> Your presentation has been successfully uploaded.
      </h2>
      <div class="padded"></div>
        <p> To activate it and make it visible by your potential investors, the flat price is <strong>EUR 99.00</strong>.
        <br>You can then extend the maturity, modify the content and track accesses <strong>as often as you wish</strong>.</p>
      <div class="padded">

      </div>
      <p>If you have a <strong>coupon</strong>, you will be able to use it on next page.</p>
      <p> After payment, you will receive an <strong>invoice</strong> with VAT number directly by email, which you can use if you want to be refunded by your organisation.
      </p>

      <div class="padded"></div>

      <div class="center"><%= link_to "Pay us with Stripe", new_charge_path(id: @roadshow.id), class: "btn btn-success" %>


    </div>
  </div>
</div>
