<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <% if params[:roadshow] && (@roadshows != []) %>
        <h2>
          Results of your research:
        </h2>
        <p>
          Click on the picture to access the presentation - Please note that your accesses will be tracked
        </p>
      <% end %>

      <% if params[:roadshow] && (@roadshows == []) %>
        <h2>
        Sorry! No result matches your research
        </h2>
      <% end %>

      <%= render "listing" %>

    </div>
  </div>
</div>



