<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <% if params[:company] && (@roadshows != []) %>
        <h2>
          Results of your research:
        </h2>
        <p>
          Click on the picture to access the presentation - <strong>Please note that your accesses will be tracked</strong>
        </p>
      <% end %>

      <% if params[:company] && (@roadshows == []) %>
        <h2>
        Sorry! No result matches your research
        </h2>
      <% end %>

      <%= render "listing" %>

    </div>
  </div>
</div>



