.logo-navbar {
  color: green;
  padding: 10px 15px;
  border-width: 5px;
  border-color: green;
  border-radius: 4px;
  background: white ;
}


.logo-navbar:hover {
  color: green;
  text-decoration:none
}
