.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
}
.media-body img {
  width: 100%;
}
.media-aside {
  position: relative;
  margin-top: 21px;
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #F8F7F7;
  border-left: 1px solid #f0efef;
}

.media-section {
  margin: 40px auto;
}

.media-section:first-child {
  margin-top: 0;
}

.media-section:last-child {
  margin-bottom: 0;
}

.form-page{
  width: 45px;
}

.page-choser{
    font-size: 20px;
    display: flex;
    justify-content : space-between;
    align-items: center;
}

.arrow {
  color : $gray ;
  border : 1px solid transparent;
  border-color: $gray;
  padding: 0px 15px;
  border-radius : 20px;
  font-weight: bold;
  opacity : 0.6;
  font-size: 40px;

}

.arrow:hover {
  opacity : 1;
  text-decoration : none;
  color : $gray ;
}

.page-choser-number{
    display: flex;
    justify-content : space-between;
    align-items: center;
}

#page-number{
    position: relative;
    top: 5px;
    left: 5px;
}

.btn-download{
}



