<p>Hello <%= @resource.email %> !</p>

<p>We have received your instruction to reset your password on <strong>EasyIP</strong>. To do so, click on the link below : </p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-success" %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>


<p>Valentine, head of Customer Service, EasyIP</p>


