
<div class="padded"></div>
<div class="padded"></div>

</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 center">
    <h2>Your <strong>EUR 9.90</strong> payment successfully went through and your presentation has been activated.</h2>
    <%= link_to "View your presentation", roadshow_path(id: @roadshow.id), class: "btn btn-primary" %>
    <div class="padded"></div>
    <p>If you want to keep record of this transaction you can generate an invoice which will be saved into your account and that you can download and print.</p>

    <%=simple_form_for @invoice do |i|%>
      <%=i.hidden_field :id, :value => @roadshow.id.to_i %>
      <%=i.button :submit, "Generate an invoice for this transaction", class: "btn btn-success"%>
    <%end%>

  </div>
</div>

