


<div class="padded"></div>
<div class="padded"></div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 center">
    <%= form_tag charges_path do %>

      <%= hidden_field_tag :id, @roadshow.id.to_i %>

      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <p>You are about to make a payment through Stripe</p>
        <label class="amount">
          <span>Amount: EUR 9.90</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="New IP to EasyIP"
              data-amount="990"
              data-locale="auto"
              data-currency="eur">
      </script>
    <% end %>
  </div>

</div>

